@import "tailwindcss";

@utility container {
  margin-inline: auto; /* center: true */
  padding-inline: 1rem; /* default padding */

  @variant sm {
    padding-inline: 3rem;
  }
}

@theme {
  --animate-spin-slow: spin 40s linear infinite;
}

@font-face {
  font-family: Tanha;
  src: url("./assets/font/Tanha.eot");
  src:
    url("./assets/font/Tanha.eot?#iefix") format("embedded-opentype"),
    url("./assets/font/Tanha.woff") format("woff"),
    url("./assets/font/Tanha.ttf") format("truetype");
  font-weight: normal;
}

body {
  font-family: "Tanha";
}

.bgImage {
  background-image: url(./assets/images/banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}